<h1>Product: <%= @product.name %></h1>
<p><img src="https://i.picsum.photos/id/39/3456/2304.jpg" class="placeholder-image"></p>
<h3>Cost: $<%= @product.cost %></h3>
<h3>Country: <%= @product.country_of_origin %></h3>
<hr>

<div id="individual-product-reviews">
  <% if @product.reviews.any? %>
    <h4>Here are the reviews for this product by author:</h4>

    <% @product.reviews.each do |review| %>
      <ul>
        <li>
          <%= link_to review.author, product_review_path(@product, review) %>
        </li>
      </ul>
    <% end %>
  <% else %>
    <p>No reviews are listed for this product.</p>
  <% end %>
</div>

<div class="nav-links">
  <p><%= link_to "Add a review", new_product_review_path(@product) %></p>
    
  <p><%= link_to "Edit", edit_product_path(@product) %></p>
  <p><%= link_to "Delete product", product_path(@product),
                            :data => {:confirm => "Are you sure?",
                                          :method => "delete"} %></p>
    
  <p><%= link_to "Return to products", products_path %></p>
</div>


